[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
setup_app = "export FLASK_APP=src/app.py"  # mac y linux
#setup_app = "set FLASK_APP=src/app.py"  
init = "flask db init" # migrations
migrate = "flask db migrate" # models.py to migrate 
upgrade = "flask db upgrade" 
downgrade = "flask db downgrade"
start = "python src/app.py"